<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/resources/css/example1-simple-bindings.css">
    <title>ko-simple-bindings</title>
</head>
<body>
    <div data-bind="text: myItems.length"></div>
    <button data-bind="enable: myItems.length < 5">Add username</button>
</body>
<script src="../../resources/js/libs/require.js" data-main="../../resources/js/apps/example1-simple-bindings"></script>
</html>