<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/resources/css/example7-compute1.css">
    <title>ko-simple-bindings</title>
    <style type="text/css">
    .user-info {
        padding: 5px 20px;
    }
    </style>
</head>
<body>
    <div>用户名：<input type="text" data-bind="value:username"></div>
    <div>年龄：<input type="text" data-bind="value:age"></div>
    <div>用户信息：<span class="user-info" data-bind="text:userInfo"></span></div>
</body>
<script src="../../resources/js/libs/require.js" data-main="../../resources/js/apps/example7-compute1"></script>
</html>