<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/resources/css/example6-dispose.css">
    <title>ko-simple-bindings</title>
</head>
<body>
    <p>user name : <input type="text" data-bind="value: name"></p>
    <p>user age : <input type="text" data-bind="value: age"></p>
    <p><input type="button" data-bind="click: cancelSub" value="注销用户名监控"></p>
</body>
<script src="../../resources/js/libs/require.js" data-main="../../resources/js/apps/example6-dispose"></script>
</html>