<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/resources/css/example3-simple-bindings.css">
    <title>ko-simple-bindings</title>
</head>
<body>
    <p>First name : <input type="text" data-bind="value: FirstName"></p>
    <p>Last name : <input type="text" data-bind="value: LastName"></p>

    <p>user name : <input type="text" data-bind="value: user.name"></p>
    <p>user age : <input type="text" data-bind="value: user.age"></p>
    <p>user do : <input type="text" data-bind="value: user.do"></p>
</body>
<script src="../../resources/js/libs/require.js" data-main="../../resources/js/apps/example3-simple-bindings/example3-simple-bindings"></script>
</html>