<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>号纸打印</title>
	<!-- <link type="text/css" rel="stylesheet" href="../resources/css/print.css"> -->
	<style>
		.pos1-parent {
			position: relative;
			left:-325px;
			top:-120px;
		}
	</style>
	<script language="javascript" src="../resources/js/apps/LodopFuncs.js"></script>
</head>
<body>
	<div class="wrap" id="div1_2_3" style="position: relative;margin: 0 auto;width: 100%;min-width: 1024px; background:#f5f5f5;">
		<div class="setting-wrap" id="div1" style="background: #ffffff;margin: 10px;padding: 25px;height: 550px; min-width: 1024px;font-size: 12px;">
			<div style="position: relative;left:-325px;top:-120px;height: 495px;padding-left: 100px;width: 100%;" class="setting-right-wrap col-xs-5">
				<div class="preview-wrap" style="color: white;width: 325px;height: 393px;margin-top: 20px;background: url('../resources/img/preview-bg.png');padding: 20px 35px;box-shadow: 0 0 20px rgba(0, 0, 0, .1);">
					<div class="title" style="position: relative;color: #333;font-size: 18px;height: 40px;text-align: left;left: -10px;">
						<img src="../resources/img/preview_title_icon.png"/>
						<span style="position: relative;top:-20px;">安徽省政务服务中心</span>
					</div>
					<div style="margin-left: -10px;font-size: 13px;margin-right: -10px;position: relative;color: #333;line-height: 15px;margin-bottom: 0;display:none;" class="row item">
						<span style="padding-left: 10px;padding-right: 0;width: 30%;" class="col-xs-3 label">预约编号：</span>
						<span style="padding: 0;width: 66.66666667%;" class="col-xs-8 value">  </span>
					</div>
					<div style="margin-left: -10px;font-size: 13px;margin-right: -10px;position: relative;color: #333;line-height: 15px;margin-bottom: 5px;" class="row item">
						<span style="padding-left: 10px;padding-right: 0;width: 30%;" class="col-xs-3 label">您的号码：</span>
						<span style="padding: 0;width: 66.66666667%;font-size: 24px;font-weight: bold;position: relative;left:-5px;" class="col-xs-8 value">0001</span>
					</div>
					<div style="margin-left: -10px;font-size: 13px;margin-right: -10px;position: relative;color: #333;line-height: 15px;margin-bottom: 0;" class="row item">
						<span style="padding-left: 10px;padding-right: 0;width: 30%;" class="col-xs-3 label">办理业务：</span>
						<span style="padding: 0;width: 66.66666667%;" class="col-xs-8 value">
							<span style="width:192px;word-wrap: break-word;position: absolute;top:0px;left:79px;">省教育厅省教育厅省教育厅省教育厅省教育厅</span>
							<br>
							<span style="width:192px;word-wrap: break-word;margin-left: 79px;display: inline-block;">事项名事项名事项名事项事项名事项名事项名事项事项名事项名事项名事项事项名事项名事项名事项</span>
						</span>
					</div>
					<div style="margin-left: -10px;font-size: 13px;margin-right: -10px;position: relative;color: #333;line-height: 15px;margin-bottom: 0;" class="row item">
						<span style="padding-left: 10px;padding-right: 0;width: 30%;" class="col-xs-3 label">办理窗口：</span>
						<span style="padding: 0;width: 66.66666667%;" class="col-xs-8 value">
							<span style="position: absolute;top:15px;left:82px;">窗口 1 , 2</span>
							<br>
							<span style="margin-left: 81px;">1号办事大厅</span>
						</span>
					</div>
					<div style="margin-left: -10px;font-size: 13px;margin-right: -10px;position: relative;color: #333;line-height: 15px;margin-bottom: 0;" class="row item">
						<span style="padding-left: 10px;padding-right: 0;width: 30%;" class="col-xs-3 label">等待人数：</span>
						<span style="padding: 0;width: 66.66666667%;" class="col-xs-8 value">2</span>
					</div>
					<div style="height: 25px;color: #666;line-height: 15px;font-size: 13px;" class="tip">取票后请等待，我们将尽快为您服务</div>
					<div style="line-height: 20px;color: #999;font-size: 12px;border-top: 1px solid;" class="bottom-tip">
						<div style="text-align: center;text-indent:-2.4em">2018-04-12  09:30:28</div>
						<div>
							<span>温馨提示：叫号后请及时到窗口办理业务,</span>
							<br>
							<span>过号请重新取号</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="print-control">
		<p>1、打印机设置：
			<input type="radio" id="Radio1" name="RadioS1" checked>默认打印机                         
			<input type="radio" id="Radio2" name="RadioS1" onclick="CreatePrinterList()">指定打印机:                  
			<select id="PrinterList" size="1"></select> 
		</p>      
										
		<p>2、纸张类型设置：
			<input type="radio" id="Radio3" name="RadioS2" checked >不指定纸张                         
			<input type="radio" id="Radio4" name="RadioS2" onclick="CreatePagSizeList()">指定纸张:<select id="PagSizeList" size="1"></select>
		</p> 
		
		<p>3、设置默认打印机：
			<button onclick="SetPrint7()" style="padding: 10px 20px;">设置默认打印机</button>
		</p>

		<p>4、打印：
			<b>直接打印：<button onclick="prn4_preview()" style="padding: 10px 20px;">直接打印</button> 
		</p>
		<p>5、打印预览
			<button onclick="myPreview1()" style="padding: 10px 20px;">打印预览</button>
		</p>
	</div>
<script>
	 var LODOP=getLodop(); //声明为全局变量    
		function myPreview1() {	
			CreateOnePage("div1");	
			LODOP.PREVIEW();	
		};
		function myPreview2() {	
			CreateOnePage("div1");		
			LODOP.SET_PREVIEW_WINDOW(0,0,0,760,540,"");	
			LODOP.PREVIEW();	
		}
	    
        function getSelectedPageSize(){
            if (document.getElementById("Radio4").checked) 
            return document.getElementById("PagSizeList").value;
            else return ""; 		
        };	
        function CreatePrinterList(){ // --指定打印机
            // if (document.getElementById('PrinterList').innerHTML!="") return;
            LODOP=getLodop(); 
            var iPrinterCount=LODOP.GET_PRINTER_COUNT();
            for(var i=0;i<iPrinterCount;i++){
                console.log(LODOP.GET_PRINTER_NAME(i));// Brother HL-2260 Printer
    
                   var option=document.createElement('option');
                   option.innerHTML=LODOP.GET_PRINTER_NAME(i);
                   option.value=i;
                document.getElementById('PrinterList').appendChild(option);
            };	
        };
        function Print5() {		
            LODOP=getLodop();  
            LODOP.PRINT_INIT("");	
            // LODOP.SET_PRINT_PAGESIZE(1,2100,2970,"A4");
            AddPrintContent("10101010101010","郭德强");
              LODOP.PRINT();	
            // LODOP.PRINT_INIT("");	  	
            // LODOP.SET_PRINT_PAGESIZE(1,document.getElementById('W1').value,document.getElementById('H1').value,"A3");
            // AddPrintContent("10101010101012","于谦");
              // LODOP.PRINT();		
        };		
        function getSelectedPrintIndex(){ // 选中的打印机的值返回出去，供默认打印机重新设置
            if (document.getElementById("Radio2").checked) 
                return document.getElementById("PrinterList").value;
            else 
                return -1; 		
        };
        function SetPrint7() { // --3、选择好打印机后，设置成默认打印机
            LODOP=getLodop();  
            LODOP.PRINT_INIT("");
            if (LODOP.CVERSION) CLODOP.On_Return=function(TaskID,Value){alert(Value);};
            var strResult=LODOP.SET_PRINT_MODE("WINDOW_DEFPRINTER",getSelectedPrintIndex()); // getSelectedPrintIndex()执行后就是上面下拉框选中的打印机对应的value值
            if (!LODOP.CVERSION) alert(strResult);
		};
		function clearPageListChild(){ // --2.1、清除纸张列表
			var PagSizeList =document.getElementById('PagSizeList'); 
			while(PagSizeList.childNodes.length>0){
				var children = PagSizeList.childNodes;	
					for(i=0;i<children.length;i++){		
					PagSizeList.removeChild(children[i]);	
				};	   
			};	   
		}
		function CreatePagSizeList(){ // --2、指定纸张
			LODOP=getLodop(); 
			clearPageListChild();
			var strPageSizeList=LODOP.GET_PAGESIZES_LIST(getSelectedPrintIndex(),"\n");
			var Options=new Array(); 
			Options=strPageSizeList.split("\n");       
			for (i in Options)    
			{    
				var option=document.createElement('option');   
				option.innerHTML=Options[i];
				option.value=Options[i];
				document.getElementById('PagSizeList').appendChild(option);
			}  
		}	
    
    
        function prn4_preview() { // 4、直接打印--调用打印html的方法Prnt_Oneform
            LODOP=getLodop();  	
			LODOP.SET_PRINT_MODE("WINDOW_DEFPRINTER",'w80');
            Prnt_Oneform("div1");	
            // Prnt_Oneform("div2");	
            // Prnt_Oneform("div3");			
        };
        function Prnt_Oneform(strID) {	 // 打印html的函数
            LODOP.PRINT_INIT("");
            LODOP.ADD_PRINT_HTM(88,200,350,600,document.getElementById(strID).innerHTML);
            LODOP.PRINT();	
        };
        function prn6_design() {
            LODOP=getLodop();  	
            LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_分页输出六");
            LODOP.ADD_PRINT_HTM(88,150,450,150,"<!DOCTYPE html>"+document.getElementsByTagName("html")[0].innerHTML);
            LODOP.SET_PRINT_STYLEA(0,"TableRowThickNess",25);
            LODOP.PRINT_DESIGN();	
        };
		function CreateOnePage(strID){
			LODOP=getLodop();  
			LODOP.PRINT_INIT("");
			LODOP.SET_PRINT_PAGESIZE(1,1380,880,"");
			LODOP.ADD_PRINT_HTM(88,200,350,600,document.getElementById(strID).innerHTML);
			// LODOP.ADD_PRINT_TEXT(80,100,400,35,"观察预览窗口的变化");
			// LODOP.SET_PRINT_STYLEA(0,"FontSize",30);
				
		};	
</script>
<script src="../resources/js/libs/require.js" data-main="../resources/js/apps/print"></script>
</body>
</html>